{% extends "movieapp/base.html" %}
{% block body %}
<section id="center" class="center_o pt-2 pb-2">
	<div class="container-xl">
	 <div class="row center_o1">
	  <div class="col-md-5">
		<div class="center_o1l">
		 <h2 class="mb-0">Services</h2>
		</div>
	  </div>
	  <div class="col-md-7">
		<div class="center_o1r text-end">
		 <h6 class="mb-0 col_red"><a href="#">Home</a> <span class="me-2 ms-2 text-light"><i class="fa fa-caret-right align-middle"></i></span> Services</h6>
		</div>
	  </div>
	 </div>
	</div>
   </section>
   
   <section id="serv_pg" class="pt-4 pb-4 bg_grey">
	<div class="container-xl">
	 <div class="row trend_1">
	 <div class="col-md-12">
	  <h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Our    <span class="col_red">Main Services</span></h4>
	 </div>
	</div>
	 <div class="row serv_pg1 mt-4">
	  <div class="col-md-4">
	   <div class="serv_pg1i bg_dark p-4 pt-3">
		<h1 class="col_light"><i class="fa fa-video-camera"></i> <span class="pull-right">01</span></h1>
		<h5 class="col_red">Bringing Latest Movies</h5>
		<p class="mt-3">We bring the latest movies and shows from around the world that you can pick from.</p>
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="serv_pg1i bg_dark p-4 pt-3">
		<h1 class="col_light"><i class="fa fa-star"></i> <span class="pull-right">02</span></h1>
		<h5 class="col_red">Top IMDB rated</h5>
		<p class="mt-3">The best rated movies and shows on the internet with their ratings</p>
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="serv_pg1i bg_dark p-4 pt-3">
		<h1 class="col_light"><i class="fa fa-film"></i> <span class="pull-right">03</span></h1>
		<h5 class="col_red">All about Shows</h5>
		<p class="mt-3">We not only recommend but also gives some info regarding the shows for you to choose.</p>
	   </div>
	  </div>
	 </div>
	</div>
   </section>
   
   <section id="spec">
	<div class="spec_m">
	 <div class="container-xl">
	 <div class="spec_1 row">
	  <div class="col-md-3 col-6">
	   <div class="spec_1i text-center p-4">
		<span class="font_60 col_red"><i class="fa fa-user-md"></i></span>
		<h1>4</h1>
		<h5>Team Members</h5>
	   </div>
	  </div>
	  <div class="col-md-3 col-6">
	   <div class="spec_1i text-center p-4">
		<span class="font_60 col_red"><i class="fa fa-bar-chart"></i></span>
		<h1>50+</h1>
		<h5>Completed Projects</h5>
	   </div>
	  </div>
	  <div class="col-md-3 col-6">
	   <div class="spec_1i text-center p-4">
		<span class="font_60 col_red"><i class="fa fa-tags"></i></span>
		<h1>100+</h1>
		<h5>Winning Awards</h5>
	   </div>
	  </div>
	  <div class="col-md-3 col-6">
	   <div class="spec_1i text-center p-4">
		<span class="font_60 col_red"><i class="fa fa-smile-o"></i></span>
		<h1>270+</h1>
		<h5>Satisfied Customers</h5>
	   </div>
	  </div>
	 </div>
	</div>
	</div>
   </section>
   
   <section id="price" class="pt-4 pb-4">
	<div class="container-xl">
	  <div class="row price_1">
		<div class="col-md-3">
		 <div class="price_1i bg_grey p-4 rounded">
		  <h5>Starter</h5>
		  <h1 class="mt-3">₹50 <span class="fs-6">/ month</span></h1>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Get Movie Recommendations</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Find for your genres</h6>
		  <hr>
		  <h6 class="mb-0 text-center"><a class="button" href="#">Select Plan</a></h6>
		  
		 </div>
		</div>
		<div class="col-md-3">
		 <div class="price_1i bg_grey p-4 rounded">
		  <h5>Basic</h5>
		  <h1 class="mt-3">₹100 <span class="fs-6">/ month</span></h1>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Get Movie Recommendations</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Find for your genres</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i>Find for your genres</h6>
		  <hr>
		  <h6 class="mb-0 text-center"><a class="button" href="#">Select Plan</a></h6>
		 </div>
		</div>
		<div class="col-md-3">
		 <div class="price_1i bg_red p-4 rounded">
		  <h5>Professional</h5>
		  <h1 class="mt-3">₹500 <span class="fs-6">/ month</span></h1>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Get Movie Recommendations</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Find for your genres</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Request for movies</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Download Content</h6>
		  <hr>
		  <h6 class="mb-0 text-center"><a class="button" href="#">Select Plan</a></h6>
		  
		 </div>
		</div>
		<div class="col-md-3">
		 <div class="price_1i bg_grey p-4 rounded">
		  <h5>Ultra</h5>
		  <h1 class="mt-3">₹800 <span class="fs-6">/ month</span></h1>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Get Movie Recommendations</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Find for your genres</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Request for movies</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Download Content</h6>
		  <h6 class="mt-3"><i class="fa fa-chevron-right font_12 me-1 col_red"></i> Connect on our socials</h6>
		  <hr>
		  <h6 class="mb-0 text-center"><a class="button" href="#">Select Plan</a></h6>
		  
		 </div>
		</div>
	  </div>
	   </div>
	  </div>
	</div>
   </section>
{% endblock body %}